
*.xml
*.user
*.pro.user
*.pro.user.*
sources/*.pro.user
sources/*.pro.user.*
/build*
/build-tiPhotoLocator-Desktop*
*.bak
*.bkp
*.psd
/installeur/packages/com.sphinkie.tiphotolocator/data*
/installeur/*.exe